// GLOBAL FONT
@import url('https://fonts.googleapis.com/css?family=Tajawal:400,500,700');
* {
    font-family: 'Tajawal', sans-serif;
}

//Color
.red {
    color: $red
}
.green {
    color: $green
}
.eggshell {
    color: $eggshell
}
.black {
    color: $black
}
.gray {
    color: $gray
}

//Font style
.bold {
    font-weight: 700
}
.regular {
    font-weight: 400
}

//Text align
.center {
    text-align: center
}

//Margin
.no-margin {
    margin: 0px !important
}
.mg-top-20-percent {
    margin-top: 20%
}
.mg-top-30-percent {
    margin-top: 30%
}
.mg-top-40-percent {
    margin-top: 40%
}
.mg-top-0 {
    margin: 0px
}
.mg-top-5 {
    margin-left: 5px
}
.mg-top-10 {
    margin-top: 10px
}
.mg-top-15 {
    margin-top: 15px
}
.mg-top-20 {
    margin-top: 20px
}
.mg-top-40 {
    margin-top: 40px
}
.mg-top-60 {
    margin-top: 60px
}
.mg-top-30 {
    margin-top: 30px
}
.mg-left-10 {
    margin-left: 10px
}
.mg-left-20 {
    margin-left: 20px
}


//Padding
.no-padding {
    padding: 0px !important
}
.padding-20 {
    padding: 20px;
}
.padding-top-5 {
    padding-top: 5px !important;
}
.padding-bottom-0 {
    padding-bottom: 0px !important
}

//Background color
.transparent-bg {
    background: transparent !important
}

//Loading spinner
.loading-md .loading-wrapper {
    box-shadow: none
}
.loading-wrapper {
    background-color: transparent !important
}
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
}
.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $eggshell;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}