// GLOBAL FONT
@import url('https://fonts.googleapis.com/css?family=Tajawal:400,500,700');
* {
    font-family: 'Tajawal', sans-serif;
}

//Color
.red {
    color: $red
}
.green {
    color: $green
}
.eggshell {
    color: $eggshell
}

//Font style
.bold {
    font-weight: 700
}

//Text align
.center {
    text-align: center
}

//Margin
.mg-top-40-percent {
    margin-top: 40%
}
.mg-top-20 {
    margin-top: 20px
}
.mg-top-10 {
    margin-top: 10px
}

//Padding
.no-padding {
    padding: 0px !important
}