page-menu {
    // iPhone X
    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .scroll-content {
            padding-top: 40px !important
        }
    }

    .categorie {
        background-color: $red;
        padding: 10px 20px
    }
    .product {
        padding-bottom: 20px;
        border-bottom: 2px solid #C6C6C6;
        padding-top: 10px
    }
    .bgButton {
        background-color: $green
    }
    .close {
        width: 3%;
        margin-bottom: 20px;
    }
}
